*
!.gitignore
!.gitmodules
!.gitconfig
!.gitignore_global
!.zshrc
!.vimrc

!.ackrc

!.zsh/
!.zsh/*
!.zsh/*/*
!.zsh/*/*/*
!.zsh/*/*/*/*
!.zsh/*/*/*/*/*
.zsh/*private.zsh
.zsh/*test.zsh

!.sublime/
!.sublime/*
!.sublime/*/*
!.sublime/*/*/*
!.sublime/*/*/*/*
!.sublime/*/*/*/*/*


.DS_Store


# !.ssh/
# .ssh/*
# !.ssh/config
